telegram_bot_token: ''
sap_conversation_ai_token: '' # For AI use cases (https://cai.tools.sap/)
api_client_id: ''
api_client_secret: ''
api_account_id: ''
ai_mode: 'on'
lms_host: 'https://go.teachbase.ru'
token_expiration_time: '7200'
rest_client: 'RestClient'
encrypt_key: 'secret_key' # For user password encryption
parse_mode: 'HTML'