telegram_bot_token: ''
api_client_id: ''
api_client_secret: ''
api_account_id: ''
lms_host: 'https://go.teachbase.ru'
token_expiration_time: '7200'
rest_client: 'RestClient'
encrypt_key: 'secret_key' # For user password encryption
parse_mode: 'HTML'